$$ y = \beta_0 +\beta_1 x_1 + \beta_2 x_2 + \beta_3 x_3 + \epsilon$$

In [3]:
import pandas as pd

In [7]:
data = [
    [30, 60, 175, 15, 26.2],
    [40, 60, 175, 15, 26.3],
    [30, 90, 175, 15, 39.8],
    [40, 90, 175, 15, 39.7],
    [30, 60, 225, 15, 38.6],
    [40, 60, 225, 15, 35.5],
    [30, 90, 225, 15, 48.8],
    [40, 90, 225, 15, 37.8],
    [30, 60, 175, 25, 26.6],
    [40, 60, 175, 25, 23.4]
    
       ]

In [8]:
df = pd.DataFrame(data, columns=[
    'Force', 'Power', 'Temperature', 'Time', 'Strength'])

In [9]:
df

   Force  Power  Temperature  Time  Strength
0     30     60          175    15      26.2
1     40     60          175    15      26.3
2     30     90          175    15      39.8
3     40     90          175    15      39.7
4     30     60          225    15      38.6
5     40     60          225    15      35.5
6     30     90          225    15      48.8
7     40     90          225    15      37.8
8     30     60          175    25      26.6
9     40     60          175    25      23.4